<?xml version="1.0" encoding="utf-8"?>
<Configuration>
	<properties>
    	<property name="logPath">${sys:catalina.home}/logs/</property>
  	</properties>

 	 <Appenders>
 	 	<Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d [%t] %-5p %c - %m%n"/>
        </Console>
        <!-- <RollingFile name="file" fileName="${logPath}/testproject.log"
            filePattern="${logPath}/testproject-%d{MM-dd-yyyy}-%i.log"> -->
        <RollingFile name="file" fileName="${logPath}/testproject.log" 
                 filePattern="${logPath}/testproject-%i.log" append="true" immediateFlush="true">
            <PatternLayout pattern="%d [%t] %-5p %c - %m%n" />
            <!-- <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies> -->
            <SizeBasedTriggeringPolicy size="10 MB" />
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>
    <Loggers>
    
    	 <!-- Apache Commons tend to make a lot of noise which can clutter the log-->
        <AsyncLogger name="org.apache" level="WARN"/>
    
    	<!-- Reduce startup noise -->
        <AsyncLogger name="org.springframework.beans.factory" level="WARN"/>
        
        <!-- Mule classes -->
        <AsyncLogger name="org.mule" level="INFO"/>
        <AsyncLogger name="com.mulesoft" level="INFO"/>        
        <Logger name="com.mule.spring" level="INFO"/>
        
        <Root level="INFO">
        	<AppenderRef ref="Console"/>
            <AppenderRef ref="file" />
        </Root>
    </Loggers>   
</Configuration>