<?xml version="1.0" encoding="utf-8"?>
<Configuration>
	<properties>
    	<property name="logPath">${sys:catalina.home}/logs/</property>
  	</properties>

 	 <Appenders>
 	 	<Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d [%t] %-5p %c - %m%n"/>
        </Console>
        <!-- <RollingFile name="file" fileName="${logPath}/testproject.log"
            filePattern="${logPath}/testproject-%d{MM-dd-yyyy}-%i.log"> -->
        <RollingFile name="debug_file" fileName="${logPath}/testproject_debug.log" 
                 filePattern="${logPath}/testproject_debug-%i.log" append="true" immediateFlush="true">
            <PatternLayout pattern="%d [%t] %-5p %c - %m%n" />
             <Filters>  
                <ThresholdFilter level="info" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
            </Filters>  
            <SizeBasedTriggeringPolicy size="10 MB" />
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        <RollingFile name="info_file" fileName="${logPath}/testproject_info.log" 
                 filePattern="${logPath}/testproject_info-%i.log" append="true" immediateFlush="true">
            <PatternLayout pattern="%d [%t] %-5p %c - %m%n" />
            <Filters>  
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>  
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>  
            </Filters> 
            <SizeBasedTriggeringPolicy size="10 MB" />
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        <RollingFile name="error_file" fileName="${logPath}/testproject_error.log" 
                 filePattern="${logPath}/testproject_error-%i.log" append="true" immediateFlush="true">
            <PatternLayout pattern="%d [%t] %-5p %c - %m%n" />
            <Filters>  
                <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <SizeBasedTriggeringPolicy size="10 MB" />
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>
    <Loggers>
    
    	 <!-- Apache Commons tend to make a lot of noise which can clutter the log-->
        <AsyncLogger name="org.apache" level="WARN"/>
    
    	<!-- Reduce startup noise -->
        <AsyncLogger name="org.springframework.beans.factory" level="WARN"/>
        
        <!-- Mule classes -->
        <AsyncLogger name="org.mule" level="INFO"/>
        <AsyncLogger name="com.mulesoft" level="INFO"/>        
        <Logger name="com.mule.spring" level="INFO"/>
        
        <Root level="INFO">
        	<AppenderRef ref="Console"/>
            <AppenderRef ref="debug_file" />
            <AppenderRef ref="info_file" />
            <AppenderRef ref="error_file" />
        </Root>
    </Loggers>   
</Configuration>